<div class="container-fluid" id="q-app">
    <div class="row">
        <div class="card-body">
            <h2 class="text-left">Formulário de cadastro padrao</h2>
            <form class="md-form" asp-controller=""  id="FormCadastroAluno" asp-action="" method="post">

            </form>


        </div>

    </div>
</div>
